@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 40px;
}
nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

nav {
    display: flex;
    background-color: rgb(228, 228, 228);
    height: 10vh;
}

nav div {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}

nav .left-side {
    flex: 50%;
    justify-content: flex-start;
    align-items:center;

}
nav ul li .home {
    color: orangered;
}
nav .right-side {
    flex: 50%;
    justify-content: flex-end;
    align-items:center;
}

nav .right-side a {
    background-color: orangered;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
}
.container h1{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container .content2{
    width: 90%;
    display: flex;
    margin: auto;
}
.content2 .leftContent {
    flex: 50%;
}
.content2 .leftContent img {
    display: block;
    margin-right: auto;
}
.content2 .rightContent {
    flex: 50%;
    margin-left: 50px;
}
.rightContent .duration {
    margin-top: auto;
    margin-bottom: auto;
}
.rightContent .tech {
    display: flex;
}
.tech .techLeft {
    width: 25%;
}
.tech .techRight {
    width: 25%;
}
.container .itemPage {
    width: 90%;
    text-align: justify;
    margin: auto;
    margin-top: 60px;
}